*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.s21{
    width: 100%;
    height: 890px;
    background-color: #202830;
    display: none;
}
.s22{
    width: 100%;
    height: 470px;
    background-color: #202830;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s23{
    width: 92%;
    height: 440px;
    background-color: #323b43;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: s 10s  infinite; */
}
.s23 img{
  width: 100%;
  height: 440px;
    animation: sd 2s infinite;
    cursor: pointer;
}

 .s24{
    width: 100%;
    height: 408px;
    background-color: #202830;
display: flex;
justify-content: center;
align-items: center; 
}
 .s25{
    width: 92%;
    height: 334px;
    background-color: #323b43;
    display: flex;
 }

 .s26{
    width: 100%;
    height: 48px;
    background-color: #323b43;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: none;
 }
 .s25 img:nth-child(2){
margin-left: 0px;
 }
 .s25 img{
    width: 32.9%;
    /* margin-left: 8px; */
     }
 .s27{
    width: 40%;
    height: 48px;
    background-color: tomato;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
 }
 .s27 h2{
   margin-left: 10px;
 }
 .s27 h3{
   color: #A2A9C3;
   font-size: 20px;
   margin-left: 10px;
 }
 .s28{
    width: 40%;
    height: 48px;
    background-color: tomato;
    margin-left: 8px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
 }
 .s28 h2{
   margin-left: 10px;
 }
 .s28 h3{
   color: #A2A9C3;
   font-size: 20px;
   margin-left: 10px;
 }
 .s29{
    width: 40%;
    height: 48px;
    background-color: tomato;
    margin-left: 8px;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
 }
 .s29 h2{
   margin-left: 10px;
 }
 .s29 h3{
   color: #A2A9C3;
   font-size: 20px;
   margin-left: 10px;
 }
 .bl{
  width: 45%;
  height: 300px;
  background-color:#323b43;
  margin-left: 20px;
 }
 .bl:nth-child(2){
  margin-left: 0px;
 }
 .s25 img{
  width: 100%;
height: 285px;
cursor: pointer;
   }
.bl1{
  width: 100%;
  height: 48px;
  background-color: #323b43;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.bl1 h2{
  margin-left: 10px;
  font-size: 16px;
  color: aliceblue;
}
.bl1 h3{
  color: #A2A9C3;
  font-size: 20px;
  margin-left: 10px;
}


   @media screen and (max-width:800px) and (min-width:750px) {
    .s25 img {
      width: 100%;
      height: 238px;
  }

  }
  @media screen and (max-width:750px) and (min-width:620px) {
    .s22 {
    width: 100%;
    height: 387px;
    background-color: #202830;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .s23 img {
    width: 100%;
    height: 380px;
    cursor: pointer;
}
.s23 {
  width: 92%;
  height: 380px;
  background-color: #323b43;
  display: flex;
  justify-content: center;
  align-items: center;

}
    .s25 img {
      width: 100%;
      height: 208px;
  }
  }
  @media screen and (max-width:620px) and (min-width:320px) {
    .s22 {
      width: 100%;
      height: 330px;
      background-color: #202830;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .s23 img {
      width: 100%;
      height: 320px;
      cursor: pointer;
  }
  .s23 {
    width: 92%;
    height: 320px;
    background-color: #323b43;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

    .s25 img {
      width: 100%;
      height: 238px;
  }
  .s25 {
    width: 92%;
    height: 860px;
    background-color: #323b43 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.s24 {
  width: 100%;
  height: 926px;
  background-color: #202830 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s21{
  width: 100%;
  height: 1450px;
  background-color: #202830;
  display: none;
}
.bl {
  width: 100%;
  height: 286px;
  background-color: #202830;
  /* margin-left: 20px; */
}
.bl:nth-child(3){
  margin-left: 0px;
}
.bl:nth-child(4){
  margin-left: 0px;
}
  }